* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 95vw;
  height: 98vh;
  margin: 20px;
  /* text-align: center; */
}
.error {
  margin-top: -10px;
  margin-left: 17%;
  width: 30vw;
  height: 4vh;
  color: red;
  font-size: larger;
  font-family: cursive;
  display: none;
}
/* Container to blur background */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* light overlay */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none; /* hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Loader style remains the same */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  animation: rotation 1s linear infinite;
}
/* ************************Weather App************************* */

.weather-app {
  display: flex;
  justify-content: space-between;

  width: 90vw;
  height: 10vh;
  /* border: 2px solid black;
  margin: 20px auto;
}

.weather {
  /* border: 2px solid black; */
  font-size: 20px;
  font-weight: bold;
  kerning: 0.25;
  margin-top: -5px;
  color: rgba(33, 33, 33, 0.87);
}

.search {
  width: 67vw;
  height: 5vh;
  margin-left: 20px;
  border-radius: 8px;
  padding-left: 20px;
  border: none;
  background-color: #e8eaf6;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.15px;

  /* Gray 900, 60% opacity */
  color: rgba(33, 33, 33, 0.6);
}

/* ********************End of Header************** */
.main {
  width: 90vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
  margin-left: 30px;
  /* grid-column: 2hr 1hr; */
  /* grid-template-columns: 2hr 1hr; */
}
.part1 {
  /* border: 2px solid black; */
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
}
.cityAndimage {
  /* border: 2px solid black; */
  height: 30vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.cityAndimage .city {
  margin: 40px;
}
.cityAndimage .date {
  opacity: 0.7;
}
.cityAndimage .name {
  font-size: xx-large;
  font-weight: 600;
}
.cityAndimage .temp {
  /* margin-top: 10px; */
  font-size: 40px;
  font-weight: bold;
}
/* *************End of cityAndimage***************** */
.forecast {
  height: 50vh;
  margin-top: -20px;
  /* border: 2px solid black; */
  background-color: #e8eaf6;
  border-radius: 16px;
  /* display: grid;
      grid-template-rows:1fr 5fr; */
}
.todayisforecast {
  margin: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: rgba(33, 33, 33, 0.6);
}
.forecastsections {
  left: 124px;
  top: 370px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  margin: 5%;
  height: 50%;
  gap: 10px;
}

.forecast1,
.forecast2,
.forecast3,
.forecast4,
.forecast5,
.forecast6,
.forecast7 {
  padding-top: 10px;
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: #f5f5f5;
}
.timer {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 0.15px;
  text-transform: uppercase;

  color: rgba(33, 33, 33, 0.6);
}

.forecastsections img {
  margin-top: 10px;
}
.forecastsections .tempreture {
  margin-top: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: 0.25px;

  /* Gray 900 */
  color: #212121;
}
/* ****************End of Weather Forecast****************** */
.weather-details {
  height: 60vh;
  margin-top: -40px;
  /* border: 2px solid black; */
  background-color: #e8eaf6;
  border-radius: 16px;
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-rows: 1fr 4fr;
  padding: 20px;
  /* gap: 40px; */
}
.weatherdetails-p {
  position: absolute;
  /* Body - 2 */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.15px;
  text-transform: uppercase;

  /* Gray 900, 60% opacity */
  color: rgba(33, 33, 33, 0.6);
}
.weatherdetails2 {
  height: 40vh;
  /* margin-top: -40px; */
  /* border: 2px solid black; */
  background-color: #e8eaf6;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  gap: 40px;
  margin-top: 30px;
}
.sunrise,
.sunset,
.chanceofrain,
.wind,
.UVindex,
.fellslike {
  /* border: 2px solid black; */
  text-align: center;
  width: 15vw;
  background: #f5f5f5;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 20px;
}

.p-sunrise1,
.p-sunset1,
.p-chanceofrain1,
.p-wind1,
.p-UVindex1,
.p-fellslike1 {
  padding-left: 10px;

  color: rgba(33, 33, 33, 0.6);
  font-weight: bold;
}

.p-sunrise2,
.p-sunset2,
.p-chanceofrain2,
.p-wind2,
.p-UVindex2,
.p-fellslike2 {
  /* Headline(M) */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.25px;

  /* Gray 900 */
  color: #212121;
}
/* ***************************** */
.part2 {
  /* border: 2px solid black; */
  padding-top: 20px;
  border-radius: 20px;
  height: 140vh;
  background-color: #e8eaf6;
}
.sevendays-forecast {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.15px;
  text-transform: uppercase;

  /* Gray 900, 60% opacity */
  color: rgba(33, 33, 33, 0.6);
  padding-left: 20px;
}

.days {
  /* border: 2px solid black; */
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  height: 130vh;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.24);
  /* width: 40vw; */
}
.day1,
.day2,
.day3,
.day4,
.day5,
.day6,
.day7 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  border-bottom: 1px solid rgba(26, 35, 126, 0.16);
}

.day1-1,
.day2-1,
.day3-1,
.day4-1,
.day5-1,
.day6-1,
.day7-1 {
  /* border: 2px solid black; */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.15px;

  /* Gray 900, 60% opacity */
  color: rgba(33, 33, 33, 0.6);
  padding-top: 10px;
}

.dayname {
  /* border: 2px solid black; */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.0015em;

  /* Gray 900 */
  color: #212121;
}

.day1-2,
.day2-2,
.day3-2,
.day4-2,
.day5-2,
.day6-2,
.day7-2 {
  padding-top: 10px;

  /* Body */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.15px;

  /* Gray 900, 60% opacity */
  color: rgba(33, 33, 33, 0.6);
}

.day1-3,
.day2-3,
.day3-3,
.day4-3,
.day5-3,
.day6-3,
.day7-3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.0015em;

  /* Gray 900, 60% opacity */
  color: rgba(33, 33, 33, 0.6);
  padding-top: 10px;
  margin-left: 5px;
}

.loading::after {
  content: "Loading...";
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
  .weather-app {
    justify-content: center;
  }
  .days {
    display: none;
  }

  .p-sunrise2,
  .p-sunset2,
  .p-chanceofrain2,
  .p-wind2,
  .p-UVindex2,
  .p-fellslike2 {
    justify-content: center;
  }
  .main {
    width: 100%;
  }
}
